<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.navidrome.client.refresh</string>
	</array>
	<key>CFBundleIdentifier</key>
	<string></string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>audio-playback</string>
	</array>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>This app uses Bluetooth to stream audio to external devices.</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>This app uses Bluetooth to stream audio to external devices.</string>
</dict>
</plist>
