<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<!-- Background Audio Playback -->
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>background-processing</string>
	</array>
	<!-- Audio Session Category -->
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>audio-playback</string>
	</array>
	<!-- Lock Screen und Control Center -->
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>This app uses Bluetooth to stream audio to external devices.</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>This app uses Bluetooth to stream audio to external devices.</string>
</dict>
</plist>